<head>
  <nav class="nav-container">
    <a href="/" class="home-link">Home</a>
    <button id="can-do-1-btn" class="header-btn btn">A1 Can-do 1</button>
    <button id="can-do-2-btn" class="header-btn btn">A1 Can-do 2</button>
  </nav>
</head>