<head>
  <nav class="nav-container">
    <a href="/" class="home-link">Home</a>
    <a href="/lessons/a1" class="home-link">Lições A1</a>
    <a href="/lessons/a2" class="home-link">Lições A2</a>
    <button id="can-do-1-btn" class="header-btn btn hide">A1 Can-do 1</button>
    <button id="can-do-2-btn" class="header-btn btn hide">A1 Can-do 2</button>
  </nav>
</head>