<head>
  <nav class="nav-container">
    <a href="/" class="home-link">Home</a>
    <a href="/lessons" class="home-link">Lições</a>
    <form action="/login/logout?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
  </nav>
</head>