<div class="container">
  <div id="question-container">
    <div id="question">Lista de Níveis</div>
    <div id="answer-buttons" class="btn-grid">
      <button class="btn">Nível A1</button>
      <button class="btn">Nível A2</button>
    </div>
  </div>
</div>