<div class="container">
  <h2>Nivel <%= nivel_name %>, <%= can_do_name %></h2>
  <div id="choice-nivel" class="hide"><%= nivel_name %></div>
  <div id="choice-lesson" class="hide"><%= can_do_name %></div>
  <div id="question-container" class="hide">
    <div id="question">Question</div>
    <div id="answer-buttons" class="btn-grid">
      <button class="btn">Answer 1</button>
      <button class="btn">Answer 2</button>
      <button class="btn">Answer 3</button>
      <button class="btn">Answer 4</button>
    </div>
  </div>
  <div class="controls">
    <button id="start-btn" class="start-btn btn">Começar</button>
    <button id="next-btn" class="next-btn btn hide">Próxima</button>
  </div>
</div>