<div class="container">
  <div id="question-container">
    <div id="question">Lista de Can-do <%= nivel_name %>  </div>
    <div id="answer-buttons" class="btn-grid">
      <% canDos.forEach(canDo => { %>
        <a href="/lessons/<%= canDo.level %>/<%= canDo.name %>" class="btn btn-primary"><%= canDo.name %></a>
      <% }) %>
    </div>
  </div>
</div>