<div class="btn-grid-2">
  <div>
    <label>Number Can-Do</label>
    <input type="number" name="number" min="1" value="<%= in_canDo.number %>" class="lb_margin">
  </div>
  <div>
    <label>Name Can-Do</label>
    <input type="text" name="name" value="<%= in_canDo.name %>" class="lb_margin">
  </div>
  <div>
    <label>Name Lesson</label>
    <input type="text" name="lesson" value="<%= in_canDo.lesson %>" class="lb_margin">
  </div>
  <div>
    <label>Name Level</label>
    <input type="text" name="level" value="<%= in_canDo.level %>" class="lb_margin">
  </div>
</div>
