<div class="container">
  <div id="question-container">
    <h2>Editar Exercício</h2>
    <form action="/cando/<%= in_canDo.id %>/edit/edit-exercise/<%= in_exercise.id %>?_method=PUT" method="POST">
      <%- include('_form_fields_exercise') %>
      <div class="btn-grid-2">
        <a href="/cando/<%= in_canDo.id %>/edit" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary">Atualizar Exercício</button>
      </div>
    </form>
  </div>
</div>