<div class="container">
  <div id="question-container">
    <h2>Criar Exercício</h2>
    <form action="/cando/<%= in_canDo.id %>/edit/new-exercise" method="POST">
      <%- include('_form_fields_exercise') %>
      <div class="btn-grid-2">
        <a href="/cando/<%= in_canDo.id %>/edit" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary">Criar Exercício</button>
      </div>
    </form>
  </div>
</div>