<label for="email">Email</label>
<input type="text" id="email" name="email" value="<%= inUser.email %>" required>
<label for="password">Password</label>
<input type="password" id="password" name="password" required>