
<div class="container">
  <h1>Pagina de login</h1>
  <% if(messages.error) { %>
    <%= messages.error %>
  <% } %>
  <form action="/login" method="POST">
    <div class="input-grid">
      <%- include('_form_fields') %>
    </div>
    <div class="btn-grid-2"></div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/login/register" class="btn btn-primary">Register</a>
  </form>
</div>