<div class="container">
  <h1>Página de registro</h1>
  <% if(messages.error) { %>
    <%= messages.error %>
  <% } %>
  <form action="/login/register" method="POST">
    <div class="input-grid">
      <label for="name">Nickname</label>
      <input type="text" id="name" name="name" value="<%= inUser.nickname %>" required>
      <%- include('_form_fields') %>
    </div>
    <div class="btn-grid-2">
      <button type="submit" class="btn btn-primary">Register</button>
      <a href="/login" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>